@tailwind base;
@tailwind components;
@tailwind utilities;

.xanh-mono-font {
    font-family: var(--font-xanh-mono);
  }

.geist-mono-font {
  font-family: 'Geist Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.libre-caslon-font {
  font-family: 'Libre Caslon', serif;
}